.footer {
    position: fixed;
    bottom: 0;
    background-color: #00508C !important;
    text-align: center;
    right: 0;
    left: 0;
    height: 4rem;
}

.footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #082603;
    font-size: 0.7rem
}
